@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('bootstrap.min.css');
@import url('slick.css');
@import url('style.css');
@import url('media.css');

